<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maning.librarycrashmonitor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.CrashListActivity"
            android:theme="@style/MCrashAppTheme" />
        <activity
            android:name=".ui.activity.CrashDetailsActivity"
            android:theme="@style/MCrashAppTheme" />
        <activity
            android:name=".ui.activity.CrashShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MCrashAppTheme" />
        <activity
            android:name=".ui.activity.CrashBaseActivity"
            android:theme="@style/MCrashAppTheme" />

        <provider
            android:name="com.maning.librarycrashmonitor.utils.MCrashFileProvider"
            android:authorities="${applicationId}.crashFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/m_crash_file_provider" />
        </provider>
    </application>

</manifest>